*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black
}
.container {
    background: rgba(253, 253, 253, 0.101);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}
.LeftContent {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    width: 48%;
    border: 1px solid rgb(60, 60, 60);
    
}

.LeftContent input , .LeftContent select {
    border: none;
    width: 100%;
    padding: 10px ;
}
.LeftContent input {
    border-radius: 3px 3px 0px 0px;
    background: black;
    color: white;
   text-align: center;
   font-size: 1.5rem;
}
.LeftContent select {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    background: rgb(60, 60, 60);
    color: rgb(213, 213, 213);
}
.RightContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline-flex;
    background: rgb(67, 67, 67);
    border-radius: 4px;
    width: 48%;
    border: 1px solid rgb(60, 60, 60);
}
.RightContent input , .RightContent select {
    border: none;
    padding: 10px 9px;

}
.RightContent input {
    border-radius: 3px 3px 0px 0px;
    background: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
        width: 100%;
}
.RightContent select {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    background: rgb(60, 60, 60);
    color: rgb(213, 213, 213);
}
.inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}
.equalSign {
    color: white;
    font-size: 2rem;
    margin-top: -30px;
}
.formulas {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.formulas p:nth-child(1) {
    padding: 7px 9px;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: .9rem;
    background: rgba(255, 81, 0, 0.271);
    color: rgb(255, 94, 0);
    display: inline-flex;
    border-radius: 7px;
}
.formulas p:nth-child(2) {
    background: rgba(255, 255, 255, 0.151);
    display: inline-flex;
    padding: 7px 9px;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.888);
    font-family: "Arial", sans-serif;
    font-size: .9rem;
}